spring:
  application:
    name: kafka-hands-on-guide
  kafka:
    bootstrap-servers: localhost:9093
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
      properties:
        enable.idempotence: true
        linger.ms: 10
        compression.type: snappy
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "io.github.serkutyildirim.kafka"
        session.timeout.ms: 10000
        heartbeat.interval.ms: 3000

server:
  port: 8090

logging:
  level:
    root: INFO
    io.github.serkutyildirim.kafka: DEBUG
    org.apache.kafka: INFO
    org.springframework.kafka: DEBUG
